.App {
  padding: 0;
  text-align: center;
  height: 100%
}

/**
 * Layout CSS
 */
#header {
  background-color: #000;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  transition: left 0.2s;
}

#sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 200px;
  left: -200px;
  overflow: auto;
  z-index: 2;
  background-color: #ff6600;
  transition: transform 0.2s;
}

#content-wrapper {
  min-height: 100%;
  overflow-x: hidden;
  margin-left: 0px;
  transition: margin-left 0.2s;

  /* sticky bottom */
  margin-bottom: -160px;
  padding-bottom: 160px;
}

@media (min-width: 768px) {
  #header {
    left: 200px;
  }

  #sidebar {
    transform: translate(200px);
  }

  #content-wrapper {
    margin-left: 200px;
  }

  body.hide-sidebar #header {
    left: 0;
  }

  body.hide-sidebar #sidebar {
    transform: translate(0px);
  }

  body.hide-sidebar #content-wrapper {
    margin-left: 0;
  }

  body.hide-sidebar #footer {
    margin-left: 0;
  }
}


/**
 * Toggle Side drawer
 */
#sidebar.active {
  transform: translate(200px);
}


/**
 * Header CSS
 */
.sidebar-toggle {
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  line-height: 20px;
  margin-right: 10px;
}

.sidebar-toggle:hover {
  color: #fff;
  text-decoration: none;
}

/**
 * Side drawer CSS
 */
#sidebar-brand {
  background-color: #000;
}

#sidebar img {
  width: 175px;
}

#sidebar ul {
  list-style: none;
}

#sidebar > ul {
  padding-left: 0px;
}

#sidebar li {
  color: #fff;
}

#sidebar > ul > li:first-child {
  padding-top: 15px;
}

#sidebar > ul > a > li > strong {
  color: #fff;
}

#sidebar > ul > a {
  text-decoration: none;
}

#sidebar strong {
  display: block;
  padding: 15px 22px;
  cursor: pointer;
}

#sidebar strong:hover {
  background-color: #ffb380;
  /*E0E0E0*/
}

#sidebar strong + ul > li {
  padding: 6px 0px;
}

.mui-appbar {
  background-color: #000;
}
