
#timetable {
  height: 100%;
  /*background-color: #ff6600;*/
  /*padding-top: 25px;
  padding-bottom: 25px;*/
  margin: 0;
}

#timetable > h1 {
  color: #ff6600;
  font-family: 'Lato', sans-serif;;
  /*font-weight: bold;*/
}

#timetable > img {
  width: 87.5%;
  padding-top: 25px;
  padding-bottom: 25px;
}

.timetable-text {
  padding-left: 50px;
  padding-right: 50px;
  color: #ff6600;
  font-family: 'Lato', sans-serif;;
}

.timetable-text > h3 {
  font-weight: bold;
}

.timetable-text > p {
  color: #000;
}
