
#timetable {
  padding-left: 50px;
  padding-right: 50px;
  /*padding-top: 25px;
  padding-bottom: 25px;*/
  margin: 0;
}

#timetable > h1 {
  color: #ff6600;
  font-family: 'Lato', sans-serif;;
  padding-bottom: 10px;
}

#timetable > img {
  width: 82.5%;
}

.timetable-text {
  padding-left: 50px;
  padding-right: 50px;
  color: #ff6600;
  font-family: 'Lato', sans-serif;;
}

.timetable-text > h3 {
  font-weight: bold;
}

.timetable-text > p {
  color: #000;
}
